{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Next Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'img/AqZhol.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
	<div class="login-cont">
        <div class="from_comp">
            <a href="{% url 'nextcomp' %}">С ПК</a>
        </div>
		<div class="search">
      <form method="get" action="#">
        <input placeholder="Поиск" type="text" name="query">
      </form>
    </div>
    {% for driver in drivers %}
    <a href="{% url 'info' driver.id %}">
        <div class="people">
          <img src="{{ driver.image.url }}" alt="Profile Image">
          <div class="people-info">
            <h2>{{ driver.username }}</h2>
            <h2>Дата рождения: {{ driver.year }}</h2>
          </div>
        </div>
    </a>
    {% endfor %}
    <div class="container">
      <img src="{% static 'img/AqZhol.png' %}" alt="AQ ZHOL">
      <div class="text">
        <hr>
      </div>
    </div>
	</div>
</body>
</html>
